<template>
  <form>
    <md-card>
      <md-card-header>
        <h4 class="title">Edit Profile</h4>
        <p class="category">Profile</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Title</label>
              <md-input v-model="title" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Price</label>
              <md-input v-model="price" type="number"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Inventory</label>
              <md-input v-model="inventory" type="number"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-dialog-alert
              :md-active.sync="isError"
              md-content="Error for create Goods"
              md-confirm-text="Okay"
            />
            <md-button
              class="md-raised md-success"
              :disabled="!isDisable"
              @click="onSubmit"
              >Create</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { mapActions } from "vuex";
export default {
  props: {},
  methods: {
    ...mapActions(["insertGoodAction"]),
    async onSubmit() {
      const result = await this.insertGoodAction({
        title: this.title,
        inventory: this.inventory,
        price: this.price,
      });
      if (result) {
        this.$router.push("/table");
      } else {
        this.isError = true;
      }
    },
  },
  async created() {},
  async mounted() {},
  computed: {
    isDisable() {
      return this.title && this.inventory && this.price;
    },
  },
  data() {
    return {
      isError: false,
      title: null,
      inventory: null,
      price: null,
    };
  },
};
</script>
<style></style>
