<template>
  <form>
    <md-card>
      <md-card-header :data-background-color="dataBackgroundColor">
        <h4 class="title">Edit Profile</h4>
        <p class="category">Profile</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>User Name</label>
              <md-input v-model="username" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Email Address</label>
              <md-input v-model="emailadress" type="email"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>First Name</label>
              <md-input v-model="firstname" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Last Name</label>
              <md-input v-model="lastname" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-button
              class="md-raised md-success"
              :disabled="isDisable"
              @click="onSubmit"
              >Update Profile</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "edit-profile-form",
  props: {
    profile: {
      default: null,
    },
    dataBackgroundColor: {
      type: String,
      default: "",
    },
  },
  methods: {
    ...mapActions(["updateProfileAction", "getProfileData"]),
    onSubmit() {
      const data = this.profile;
      const result = this.updateProfileAction({
        ...data,
        username: this.username,
        email: this.emailadress,
        firstName: this.firstname,
        lastName: this.lastname,
      });
      if (result) {
        this.getProfileData();
      }
    },
  },
  created() {
    console.log(this.$props.profile);
  },
  mounted() {
    this.username = this.profile?.username;
    this.emailadress = this.profile?.email;
    this.firstname = this.profile?.firstName;
    this.lastname = this.profile?.lastName;
  },
  updated() {},
  computed: {
    isDisable() {
      return this.profile ? false : true;
    },
  },
  data() {
    return {
      username: null,
      disabled: null,
      emailadress: null,
      lastname: null,
      firstname: null,
    };
  },
};
</script>
<style></style>
