<template>
  <form>
    <md-card>
      <md-card-header>
        <h4 class="title">Edit Profile</h4>
        <p class="category">Profile</p>
      </md-card-header>

      <md-card-content>
        <div class="md-layout">
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Title</label>
              <md-input v-model="title" type="text"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-33">
            <md-field>
              <label>Price</label>
              <md-input v-model="price" type="number"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-small-size-100 md-size-50">
            <md-field>
              <label>Inventory</label>
              <md-input v-model="inventory" type="number"></md-input>
            </md-field>
          </div>
          <div class="md-layout-item md-size-100 text-right">
            <md-dialog-alert
              :md-active.sync="isError"
              md-content="Error for update Goods"
              md-confirm-text="Okay"
            />
            <md-button
              class="md-raised md-success"
              :disabled="!isDisable"
              @click="onSubmit"
              >Update</md-button
            >
          </div>
        </div>
      </md-card-content>
    </md-card>
  </form>
</template>
<script>
import { mapActions } from "vuex";
import { getById } from "@/services";
export default {
  props: {
    dataGood: {
      default: null,
    },
  },
  methods: {
    ...mapActions(["updateGoodAction"]),
    async onSubmit() {
      const data = this.dataGood;
      const result = await this.updateGoodAction({
        ...data,
        title: this.title,
        inventory: this.inventory,
        price: this.price,
      });
      if (result) {
        this.$router.push("/table");
      } else {
        this.isError = true;
      }
    },
  },
  async created() {},
  async mounted() {
    if (!this.dataGood) {
      try {
        const goodDataField = await getById(this.$route.params.id);
        console.log(goodDataField["_id"]);
        this.id = goodDataField["_id"];
        this.title = goodDataField?.title;
        this.inventory = goodDataField?.inventory;
        this.price = goodDataField?.price;
      } catch (error) {
        return;
      }
    } else {
      this.id = this.dataGood["_id"];
      this.title = this.dataGood?.title;
      this.inventory = this.dataGood?.inventory;
      this.price = this.dataGood?.price;
    }
  },
  computed: {
    isDisable() {
      return this.title && this.inventory && this.price;
    },
  },
  data() {
    return {
      id: null,
      isError: false,
      title: null,
      inventory: null,
      price: null,
      goodData: null,
    };
  },
};
</script>
<style></style>
