<template>
  <div>
    <md-table v-model="historyList" :table-header-color="tableHeaderColor">
      <md-table-row slot="md-table-row" slot-scope="{ item }">
        <md-table-cell md-label="Usernmae">{{ item.username }}</md-table-cell>
        <md-table-cell md-label="Total">{{ item.total }}</md-table-cell>
        <md-table-cell md-label="Detail Name">{{
          item.buyList.map((v) => v.title).join(" | ")
        }}</md-table-cell>
        <md-table-cell md-label="Detail All Inventory"> ฿ {{
          item.buyList.reduce((a, b) => a + b.inventory, 0) 
        }}</md-table-cell>
        <md-table-cell md-label="Create Date">{{
          getDate(item.createdAt)
        }}</md-table-cell>
        <md-table-cell md-label="Update Date">{{
          getDate(item.updatedAt)
        }}</md-table-cell>
      </md-table-row>
    </md-table>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import { format } from "date-fns";
export default {
  name: "ordered-table",
  props: {
    tableHeaderColor: {
      type: String,
      default: "",
    },
  },
  computed: {
    ...mapGetters({
      historyList: "getHistoryList",
    }),
  },
  methods: {
    ...mapActions(["getHistoryData"]),
    getDate(timestamp) {
      return format(new Date(timestamp), "dd MMMM yyyy");
    },
  },
  created() {
    this.getHistoryData();
  },
  data() {
    return {
      selected: [],
      users: [
        {
          id: 1,
          name: "Dakota Rice",
          salary: "$36,738",
          country: "Niger",
          city: "Oud-Turnhout",
        },
        {
          id: 2,
          name: "Minerva Hooper",
          salary: "$23,738",
          country: "Curaçao",
          city: "Sinaai-Waas",
        },
        {
          id: 3,
          name: "Sage Rodriguez",
          salary: "$56,142",
          country: "Netherlands",
          city: "Overland Park",
        },
        {
          id: 4,
          name: "Philip Chaney",
          salary: "$38,735",
          country: "Korea, South",
          city: "Gloucester",
        },
      ],
    };
  },
};
</script>
