<template>
  <edit-form-good :dataGood="getGood"></edit-form-good>
</template>

<script>
import { EditFormGood } from "@/components";
import { mapGetters } from "vuex";
export default {
  components: { EditFormGood },
  computed: {
    ...mapGetters({
      goodById: "getGoodById",
    }),
    getGood() {
      return this.goodById(this.$route.params.id);
    },
  },
  async created() {
  },
  data() {
    return {
    }
  },
  props: {},
};
</script>

<style>
</style>