<template>
  <div class="content">
    <div class="md-layout">
      <div
        class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
      >
        <md-card>
          <md-card-header data-background-color="green">
            <h4 class="title">Good List</h4>
            <p class="category">Good List of drink</p>
          </md-card-header>
          <md-card-content>
            <md-button class="md-primary md-raised" @click="onCreate"
              >Create</md-button
            >
            <div>
              <md-table v-model="items" md-card @md-selected="onSelect">
                <md-table-toolbar> </md-table-toolbar>

                <md-table-toolbar
                  slot="md-table-alternate-header"
                  slot-scope="{ count }"
                >
                  <div class="md-toolbar-section-start">
                    {{ getAlternateLabel(count) }}
                  </div>

                  <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button" @click="isDelete = true">
                      <md-icon>delete</md-icon>
                    </md-button>
                  </div>
                </md-table-toolbar>

                <md-table-row
                  slot="md-table-row"
                  slot-scope="{ item }"
                  md-selectable="multiple"
                  md-auto-select
                >
                  <md-table-cell md-label="Title Good" md-sort-by="title">{{
                    item.title
                  }}</md-table-cell>
                  <md-table-cell md-label="Price" md-sort-by="price">{{
                    item.price
                  }}</md-table-cell>
                  <md-table-cell md-label="Inventory" md-sort-by="inventory">{{
                    item.inventory
                  }}</md-table-cell>
                  <md-table-cell md-label="">
                    <md-button
                      class="md-primary md-raised"
                      @click="onEdit(item['_id'])"
                      >Edit</md-button
                    >
                  </md-table-cell>
                </md-table-row>
              </md-table>

              <!-- <p>Selected:</p>
              {{ selected }} -->
            </div>
          </md-card-content>
        </md-card>
        <md-dialog-confirm
          :md-active.sync="isDelete"
          md-title="You are sure for delete Goods"
          md-content="re-check before delete Goods out of service"
          md-confirm-text="Okay"
          md-cancel-text="Cancel"
          @md-cancel="isDelete = false"
          @md-confirm="onConfirm"
        />
        <md-dialog-alert
          :md-active.sync="isError"
          md-content="Error for delete Goods"
          md-confirm-text="Okay"
        />
        <md-dialog-alert
          :md-active.sync="isSuccess"
          md-content="Success for delete Goods"
          md-confirm-text="Okay"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  components: {},
  data: () => ({
    selected: [],
    isDelete: false,
    isSuccess: false,
    isError: false,
  }),
  created() {
    this.getShopData();
  },
  computed: mapGetters({
    items: "getGoodList",
  }),
  methods: {
    ...mapActions(["getShopData", "deleteByIdListAction"]),
    async onConfirm() {
      const idList = this.selected.map((v) => v["_id"]);
      const result = await this.deleteByIdListAction({ idList });
      this.getShopData();
      result ? (this.isSuccess = true) : (this.isError = true);
    },

    onCreate() {
      this.$router.push(`/good/create`);
    },
    onEdit(id) {
      console.log(id);
      this.$router.push(`/good/edit/${id}`);
    },
    onSelect(items) {
      this.selected = items;
    },
    getAlternateLabel(count) {
      let plural = "";

      if (count > 1) {
        plural = "s";
      }

      return `${count} user${plural} selected`;
    },
  },
};
</script>


<style lang="scss" scoped>
.md-table + .md-table {
  margin-top: 16px;
}
</style>
