<template>
  <div class="content">
    <div class="md-layout">
      <div class="md-layout-item md-medium-size-100 md-size-66">
        <edit-profile-form data-background-color="green" :profile="profile"> </edit-profile-form>
      </div>
      <!-- <div class="md-layout-item md-medium-size-100 md-size-33">
        <user-card> </user-card>
      </div> -->
    </div>
  </div>
</template>

<script>
import { EditProfileForm } from "@/pages";
import { mapActions, mapGetters } from "vuex";

export default {
  components: {
    EditProfileForm,
    // UserCard,
  },
  created() {
    this.getProfileData();
    console.log(this.profile)
  },
  computed: mapGetters({
    profile: "getProfile",
  }),
  methods: {
    ...mapActions(["getProfileData"]),
  },
};
</script>
